{% extends 'panda_app/base.html' %}
{% load static %}
{% block one_thing %}
<section class="about">
    <h2 class="about__title">О нашей компании</h2>
    <div class="container about__wrapper">
        <div class="about__text">
            <p class="about__desc">
                Наша компания занимается изготовлением металлоконструкций
                и их порошковой покраской. Есть опыт по изготовлению фермовых конструкций,
                корпусов для аппаратуры, изделий холодной ковкой.
                Основным направлением деятельности нашей компании является разработка,
                производство и продажа различного оборудования для окрасочных работ:
                камеры с водяной завесой, сухой фильтрацией, чистые комнаты,
                ваймы, пресса и пр. Также мы осуществляем модернизацию
                и ремонт уже работающего оборудования.
            </p>
            <p class="about__desc">
                Благодаря квалифицированным сотрудникам,
                мы можем не только изготавливать оборудование любой сложности,
                но и осуществлять услуги сборки, наладки оборудования
                и установки окрасочных камер и прочего оборудования.
            </p>
            <p class="about__desc">
                Отдельное направление - приспособления
                для столярных и малярных производств: ваймы, покрасочные камеры, пресса и т.д.
            </p>
        </div>
        <img src="{% static 'panda_app/img/title_photo.jpg' %}" class="about__image">
    </div>
    <p class="about__desc">
        <b>Причины выбрать нашу компанию:</b>
    </p>
    <ul class="about__list">
        <li class="about__list-item">
            используются проверенные фильтра из перфорированного гофрокартона
            и краскоостанавливающие Paint-Stop;
        </li>
        <li class="about__list-item">
            вентиляторы (взрывозащищенные)
            отечественного исполнения и стандартов, что позволяет легко их заменять и ремонтировать;
        </li>
        <li class="about__list-item">
            окрасочно сушильные камеры изготавливаются из оцинкованной стали
            отечественного производства, по согласованию возможно изготовить
            из нержавеющий стали, дооснастить системой автоматического пожаротушения;
        </li>
        <li class="about__list-item">
            в комплекте поставляются светодиодные светильники в исполнении IP65;
        </li>
        <li class="about__list-item">
            тройная водяная фильтрация.
            Отсутствие форсунок.
            Форсунки заменены оригинальной системой дождевания,
            не требующей сложного и трудоёмкого обслуживания;
        </li>
        <li class="about__list-item">
            отечественный насос в чугунном корпусе с масляной рубашкой охлаждения,
            мощностью 1,1 кВт, 380 вольт;
        </li>
        <li class="about__list-item">
            углубление под насос, позволяющее откачивать воду полностью;
        </li>
        <li class="about__list-item">
            предусмотрена возможность выноса вентилятора вне окрасочного помещения
            и подключения как с верхней проекции, так и с задней стенки.
        </li>
    </ul>
    <p class="about__desc">
        <b>Одним из основных критериев для нашей компании является безопасность,
        как в процессе в эксплуатации оборудования,
        так и при процедуре технического обслуживания и ремонта.</b>
    </p>
    <p class="about__desc">
        <b>Нам важно, чтобы наше оборудование служило долго,
        способствовало развитию и приумножению вашего бизнеса.
        Мы уважаем и ценим каждого клиента!
        ООО "ПАНДА-Профи" - это лучшее решение для вашего бизнеса.</b>
    </p>
    <p class="about__desc">
        <b>Готовы работать по чертежам заказчика.</b>
    </p>
</section>
{% endblock one_thing %}
