{% extends 'panda_app/base.html' %}
{% load static %}
{% block one_thing %}
<section class="product_descr">
    <h2 class="product_descr__title">Описание товара "{{ prod.title }}"</h2>
    <div class="prod_prop">
        <img src="{{ prod.main_photo.url }}" class="prod_prop__image">
        <div class="prod_prop__wrapper">
            <h3 class="prod_prop__title">Характеристики:</h3>
            <div class="prod_prop_table">
                <div class="prod_prop_table__name">
                    {% if prod.workzone_width %}
                        <div class="prod_prop_table__name-item">Ширина рабочей зоны, мм</div>
                    {% endif %}
                    {% if prod.overage_body_width %}
                        <div class="prod_prop_table__name-item">Общая ширина корпуса, мм</div>
                    {% endif %}
                    {% if prod.overage_body_height %}
                        <div class="prod_prop_table__name-item">Высота корпуса, мм</div>
                    {% endif %}
                    {% if prod.overage_body_depth %}
                        <div class="prod_prop_table__name-item">Глубина корпуса, мм</div>
                    {% endif %}
                    {% if prod.workzone %}
                        <div class="prod_prop_table__name-item">Рабочая зона, мм</div>
                    {% endif %}

                    {% if prod.external_overages %}
                        <div class="prod_prop_table__name-item">Внешние габариты Д*Ш*В, мм</div>
                    {% endif %}
                    {% if prod.bumper_height %}
                        <div class="prod_prop_table__name-item">Рабочая высота/ширина водяного отбойника, мм</div>
                    {% endif %}
                    {% if prod.exhaust_vent_diameter %}
                        <div class="prod_prop_table__name-item">Диаметр вытяжного отверстия на крыше камеры, мм</div>
                    {% endif %}
                    {% if prod.drainage_pump_count %}
                        <div class="prod_prop_table__name-item">Количество дренажных насосов, шт</div>
                    {% endif %}
                    {% if prod.pump_power %}
                        <div class="prod_prop_table__name-item">Мощность насоса, кВт</div>
                    {% endif %}

                    {% if prod.light_power %}
                        <div class="prod_prop_table__name-item">Мощность ламп освещения, Вт</div>
                    {% endif %}
                    {% if prod.fan_performance %}
                        <div class="prod_prop_table__name-item">Производительность вентилятора, куб.м/час</div>
                    {% endif %}
                    {% if prod.fan_power %}
                        <div class="prod_prop_table__name-item">Мощность вентиляторов, кВт</div>
                    {% endif %}

                    {% if prod.power_supply %}
                        <div class="prod_prop_table__name-item">Общая требуемая мощность, кВт</div>
                    {% endif %}
                    {% if prod.voltage %}
                        <div class="prod_prop_table__name-item">Напряжение, В</div>
                    {% endif %}

                    {% if prod.filter_count %}
                        <div class="prod_prop_table__name-item">Количество фильтров, шт</div>
                    {% endif %}
                </div>
                <div class="prod_prop_table__value">
                    {% if prod.workzone_width %}
                        <div class="prod_prop_table__value-item">{{ prod.workzone_width }}</div>
                    {% endif %}
                    {% if prod.overage_body_width %}
                        <div class="prod_prop_table__value-item">{{ prod.overage_body_width }}</div>
                    {% endif %}
                    {% if prod.overage_body_height %}
                        <div class="prod_prop_table__value-item">{{ prod.overage_body_height }}</div>
                    {% endif %}
                    {% if prod.overage_body_depth %}
                        <div class="prod_prop_table__value-item">{{ prod.overage_body_depth }}</div>
                    {% endif %}
                    {% if prod.workzone %}
                        <div class="prod_prop_table__value-item">{{ prod.workzone }}</div>
                    {% endif %}

                    {% if prod.external_overages %}
                        <div class="prod_prop_table__value-item">{{ prod.external_overages }}</div>
                    {% endif %}
                    {% if prod.bumper_height %}
                        <div class="prod_prop_table__value-item">&nbsp</div>
                        <div class="prod_prop_table__value-item">{{ prod.bumper_height }}</div>
                    {% endif %}
                    {% if prod.exhaust_vent_diameter %}
                        <div class="prod_prop_table__value-item">&nbsp</div>
                        <div class="prod_prop_table__value-item">{{ prod.exhaust_vent_diameter }}</div>
                    {% endif %}
                    {% if prod.drainage_pump_count %}
                        <div class="prod_prop_table__value-item">{{ prod.drainage_pump_count }}</div>
                    {% endif %}
                    {% if prod.pump_power %}
                        <div class="prod_prop_table__value-item">{{ prod.pump_power }}</div>
                    {% endif %}

                    {% if prod.light_power %}
                        <div class="prod_prop_table__value-item">{{ prod.light_power }}</div>
                    {% endif %}
                    {% if prod.fan_performance %}
                        <div class="prod_prop_table__value-item">{{ prod.fan_performance }}</div>
                    {% endif %}
                    {% if prod.fan_power %}
                        <div class="prod_prop_table__value-item">{{ prod.fan_power }}</div>
                    {% endif %}

                    {% if prod.power_supply %}
                        <div class="prod_prop_table__value-item">{{ prod.power_supply }}</div>
                    {% endif %}
                    {% if prod.voltage %}
                        <div class="prod_prop_table__value-item">{{ prod.voltage }}</div>
                    {% endif %}

                    {% if prod.filter_count %}
                        <div class="prod_prop_table__value-item">{{ prod.filter_count }}</div>
                    {% endif %}
                </div>
            </div>
            {% if prod.price %}
                <h3 class="prod_prop__price">Цена товара, руб : {{ prod.price }}</h3>
            {% endif %}
        </div>
    </div>
    {% if prod.description %}
        <div class="prod_prop__descr">
            {{ prod.description|safe }}
        </div>
    {% endif %}
</section>
{% endblock one_thing %}
