<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ПАНДА ПРОФИ</title>
    <link rel="icon" href="{% static 'panda_app/img/panda_icon.svg' %}">
    <link href="{% static 'panda_app/css/index.css' %}" rel="stylesheet">
</head>

<body>

    {% include "include/header.html" %}

    <div class="main_row">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "include/footer.html" %}

</body>

</html>