{% load static %}
<footer class="footer">
    <div class="footer__main">
        <a id="contacts"></a>
        <h2 class="footer__title">Контакты</h2>
        <div class="footer__contacts">
            <form action="#" class="footer__contact-form">
                <input
                    type="text"
                    class="footer__input"
                    placeholder="Ваше имя:"
                />
                <input
                    type="email"
                    class="footer__input"
                    placeholder="Ваш email:"
                />
                <textarea class="footer__textarea">Ваше сообщение</textarea>
                <input type="submit" class="footer__submit" value="Отправить" />
            </form>
            <div class="footer__contacts-items">
                <div class="footer__links">
                    <a href="#contacts" class="footer__link-item">
                        <img src="{% static 'panda_app/img/phone-icon.png' %}" alt="Телефон">
                        <span>+7 (909) 591 04 05</span>
                    </a>
                    <a href="#contacts" class="footer__link-item">
                        <img src="{% static 'panda_app/img/phone-icon.png' %}" alt="Телефон">
                        <span>+7 (950) 030 99 71</span>
                    </a>
                    <a href="#contacts" class="footer__link-item">
                        <img src="{% static 'panda_app/img/phone-icon.png' %}" alt="Телефон">
                        <span>+7 (909) 595 30 00</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">
            Все права защищены &copy; 2023 · ООО "ПАНДА-Профи"
        </p>
    </div>
</footer>