{% load static %}
<section class="header">
    <div class="container header__wrapper">
            <img src="{% static 'panda_app/img/panda_icon.svg' %}" class="header__image">
        <div class="header__title_wrapper">
            <h1 class="header__title">Панда</h1>
            <hr class="header__hr">
            <h1 class="header__title">профи</h1>
        </div>
        <div class="header__menu">
<!--            <a href="{% url 'main' %}" class="header__link-item">-->
                <div class="header__menu-item">Главная</div>
<!--            </a>-->
            <div class="header__menu-item">Каталог</div>
            <a href="#contacts" class="header__link-item">
                <div class="header__menu-item">Контакты</div>
            </a>
            <a href="{% url 'about' %}" class="header__link-item">
                <div class="header__menu-item">О&nbspкомпании</div>
            </a>
        </div>
     </div>
</section>