
<div class="sidebar">
    <div class="sidebar__title">Наша продукция</div>

    {% for category in view.get_all_categories %}
        <div class="sidebar__product_type">{{ category.name }}</div>
        {% for subcategory in category.get_all_menu_subcategories  %}
            <a class="sidebar__link-item" href="{% url 'all_prod_in_category' category.url subcategory.url %}">
                <div class="sidebar__product_subtype">
                        {{ subcategory }}
                </div>
            </a>
        {% endfor %}
    {% endfor %}
</div>